<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>
    <title>Admin Page</title>

  </head>

  <body id="index">
  <% include ./partials/_header %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2" id="notFoundMessage">
        <h1>Polling Closed!</h1>
        <p>Sorry, you may no longer vote on this poll.</p>
        <p>Click <a href="<%=resultURL%>">here</a> view the results.</p>
        <p>Or, Click <a href="/">here</a> to create a new poll.</p>
      </div>
    </div>

  </div><!-- /.container -->
  <% include ./partials/_body-scripts %>
  </body>
</html>
