<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>
    <title>Home Page</title>
  </head>

  <body>
    <% include ./partials/_header %>
  <div class="container">
    <div class="col-lg-6">
    <h3>Create a poll and take the pain out of group choices!</h3>
    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
  </div>
    <div class="col-lg-6">
      <form method="POST" action="/polls">
        <div class="form-group">
          <label for="newPollName">Poll Name: </label>
          <input type="text" class="form-control" id="newPollName" placeholder="Enter new poll name">
        </div>
        <div class="form-group">
          <label for="newPollQuestion">Question: </label>
          <input type="text" class="form-control" id="newPollQuestion" placeholder="What are you deciding?">
          <small class="form-text text-muted">This is the question you're voting on. Make it descriptive! (e.g. "Where are we going for dinner?", "What movie should we see on Friday?")</small>
        </div>
        <div class="form-group">
          <label for="option1">Option 1: </label>
          <input type="text" class="form-control" id="option1" placeholder="Option 1">
        </div>
        <div class="form-group">
          <label for="comment">Description (optional):</label>
          <textarea class="form-control" rows="5" id="details1"></textarea>
        </div>
        <div class="form-group">
          <label for="option2">Option 2: </label>
          <input type="text" class="form-control" id="option2" placeholder="Option 2">
        </div>
        <div class="form-group">
          <label for="comment">Description (optional):</label>
          <textarea class="form-control" rows="5" id="details2"></textarea>
        </div>
        <div class="form-group">
          <label for="option3">Option 3: </label>
          <input type="text" class="form-control" id="option3" placeholder="Option 3">
        </div>
        <div class="form-group">
          <label for="comment">Description (optional):</label>
          <textarea class="form-control" rows="5" id="details3"></textarea>
        </div>
        <div class="form-group">
          <label for="option4">Option 4: </label>
          <input type="text" class="form-control" id="option4" placeholder="Option 4">
        </div>
        <div class="form-group">
          <label for="comment">Description (optional):</label>
          <textarea class="form-control" rows="5" id="details4"></textarea>
        </div>
        <div class="form-group">
          <label for="option5">Option 5: </label>
          <input type="text" class="form-control" id="option5" placeholder="Option 5">
        </div>
        <div class="form-group">
          <label for="comment">Description (optional):</label>
          <textarea class="form-control" rows="5" id="details5"></textarea>
        </div>
        <button id="poll-submit" type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div><!-- /.col-lg-6 -->
  </div><!-- /.container -->

  <% include ./partials/_body-scripts %>
</body>
</html>
