<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>
    <title>Admin Page</title>

  </head>

  <body id="index">
  <% include ./partials/_header %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h1 style="text-align: center">Poll not found</h1>
        <p>
      </div>
    </div>

  </div><!-- /.container -->
  <% include ./partials/_body-scripts %>
  </body>
</html>
