<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>
    <title>Admin Page</title>

  </head>

  <body>
  <% include ./partials/_header %>
  <div id="index" class="container-fluid">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2" id="notFoundMessage">
        <h1>Poll not found</h1>
        <p>Sorry, we couldn't find that poll on our database. Please double-check if your link is accurate.</p>
        <p>Or, click <a href="/">here</a> to create a new poll.</p>
      </div>
    </div>

  </div><!-- /.container -->
  <% include ./partials/_body-scripts %>
  </body>
</html>
