<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>
    <title>Results Page</title>
  </head>

  <body>
  <% include ./partials/_header %>
  <div id="index" class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <h3 class="chartTitle">Results for Poll: <%= candidates[0]['title'] %></h3>
        <h3 class="chartTitle"><%= candidates[0]['question'] %></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <canvas id="myChart" width="400px" height="400px"></canvas>
      </div>
    </div>
  </div><!-- /.container -->
  <% include ./partials/_body-scripts %>
  <% include ./partials/_chart-scripts %>
  </body>
</html>
