<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>
    <title>Results Page</title>
  </head>

  <body id="index">
  <% include ./partials/_header %>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h3 id="chartTitle">Results for Poll: <%= candidates[0]['title'] %></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <canvas id="myChart" width="400px" height="400px"></canvas>
      </div>
    </div>
  </div><!-- /.container -->
  <% include ./partials/_body-scripts %>
  <% include ./partials/_chart-scripts %>
  </body>
</html>
