<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>
    <title>Vote Page</title>
  </head>

  <body id="index">
  <% include ./partials/_header %>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2><%= candidates[0]['question'] %></h2>
        <h3>Cast your vote!</h3>
        <p>Rank your choices from most preferred (top) to least preferred (bottom) by dragging & dropping the items below!
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <ul id="sortable">
          <% for(let item in candidates) { %>
          <% let candidate = candidates[item]; %>
          <div id=<%= candidate['candidate_id'] %>>
            <li>
              <h3 class="candidateName"><%= candidate['candidate'] %></h3>
              <span class="candidateDesc"><%= candidate['description'] %></span>
            </li>
          </div>
          <% } %>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <label for="voterName">Name: </label>
        <input type="text" class="form-control" name="voterName" placeholder="Enter your name" required>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <button id="voteSubmit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div><!-- /.container -->

  <% include ./partials/_body-scripts %>
  </body>
</html>
