body {
  background-color: #111;

  h1 {
  color: #244751;
  }
}

#sortable {
  list-style-type: none;
  padding-left: 0;

  li {
    background-color: #b3daff;
    margin-left: 0;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
  }

  h3 {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
  }

  span {
    margin: 0;
    padding-top: 10px;
  }
}






