body {
  background-color: #eee;
  padding-bottom: 30px;
}

#index {
  color: #003333;
}

#pageHeader {
  background-color: #006666;
  margin-top: 0px;
  padding-top: 20px;

  #logo {
    margin-top: 0;
    padding-left: 20px;
    padding-bottom: 5px;
    color: #e6ffff;
    text-shadow: 1px 1px 2px #000000;
  }
}

#instructionList {
  padding-top: 5px;
  margin-bottom: 20px;
}

#sortable {
  list-style-type: none;
  padding-left: 0;

  li {
    background-color: #b3daff;
    margin-left: 0;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
  }

  h3 {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
  }

  span {
    margin: 0;
    padding-top: 10px;
  }
}

.adminStats {
  margin-top: 20px;

  td {
    padding-right: 10px;
    padding-bottom: 10px;
  }
}

#errorMsg {
  color: #D8000C;
  background-color: #FFD2D2;
  height: 35px;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  line-height: 1.6;
}

